---
layout: base
---

<h2>Kagan Tumer</h2>
<h3>Professional</h3>


<ul class="styleul">
    <li><span style="font-weight: 600;">2010-Now</span>: Professor, <a href="https://oregonstate.edu/" target="_blank">Oregon State University</a></li>
    <li><span style="font-weight: 600;">2018-Now</span>: Founding Director of the <a href="https://engineering.oregonstate.edu/CoRIS" target="_blank">Collaborative Robotics and Intelligent
        Systems (CoRIS) Institute</a>.</li>
    <li><span style="font-weight: 600;">2014-2018</span>: Founding Director of <a href="https://engineering.oregonstate.edu/Academics/Degrees/Robotics" target="_blank">Robotics Graduate Program</a></li>
    <li><span style="font-weight: 600;">2006-2010</span>: Associate Professor, <a href="https://oregonstate.edu/" target="_blank">Oregon State University</a></li>

    <li><span style="font-weight: 600;">1997-2006</span>: Senior research scientist in the <a
            href="https://www.nasa.gov/intelligent-systems-division/" target="_blank">Intelligent Systems Division</a>,
        NASA
        Ames Research Center </li>
    <li><span style="font-weight: 600;">1996-1997</span>: Visiting professor in the <a
            href="https://www.ece.utexas.edu/" target="_blank">Electrical and Computer Engineering</a>, at <a
            href="https://www.utexas.edu/" target="_blank">The
            University of Texas</a>, San Antonio. </li>



</ul>

<h3>Education</h3>
<ul class="styleul">
    <li>PhD in <a href="https://www.ece.utexas.edu/" target="_blank">Electrical and Computer
            Engineering</a>, from <a href="https://www.utexas.edu/" target="_blank">The University of Texas</a> in May
        1996. My advisor
        was <a href="https://www.ece.utexas.edu/people/faculty/joydeep-ghosh" target="_blank">Joydeep Ghosh</a>.</li>
    <li>MSE in <a href="https://www.ece.utexas.edu/" target="_blank">Electrical and Computer
            Engineering</a>, from <a href="https://www.utexas.edu/" target="_blank">The University of Texas</a> in
        August 1992.</li>
    <li>BS in <a href="https://ece.gmu.edu/" target="_blank">Electrical and Computer Engineering</a>, from
        <a href="https://www.gmu.edu/" target="_blank">George Mason University</a> in May 1989.
    </li>
</ul>


<h3>Science Fiction</h3>
<ul class="styleul">
    <li>I am also a science fiction author. If you'd like to read about that <a href="http://kagantumer.com/"
            target="_blank">Kagan Tumer</a>, please click <a href="http://kagantumer.com/" target="_blank">here</a>.
    </li>
</ul>


<h3>Soccer</h3>
<p>I play and watch soccer, mostly the English Premier League, The UEFA champions league, and of course the World Cup
    and European Championships every four years. Here is a slightly more soccer-centric view of my bio:</p>
<ul class="styleul">
    <li>The graduate robotics program at OSU was approved the year Germany won its fourth world cup.</li>
    <li>I became a full Professor the year Spain won its first world cup.</li>
    <li>I arrived at Oregon State University a few months after Italy won its fourth world cup.</li>
    <li>I started working at NASA the year before France won its first world cup, and while I was there, Brasil won its
        fifth and Italy its fourth.</li>
    <li>I received my PhD from the Electrical and Computer Engineering Department at the University of Texas the year
        Germany won its third European Championship in the only major international final decided by a golden goal.</li>
</ul>