---
layout: base
---
<br />


<h3>Professional</h3>


<ul class="styleul">
    <li>From July 1997 to September 2006 I was a senior research scientist in the <a
            href="https://www.nasa.gov/intelligent-systems-division/" target="_blank">Intelligent Systems Division </a>,
        NASA
        Ames Research Center, where I led a group in Learning and Control in Complex systems and managed a project in
        Complex Systems Research. </li>
    <p></p>
    <li>During the 1996-97 academic year I was a research associate in the <a href="https://www.ece.utexas.edu/"
            target="_blank">Electrical and Computer Engineering</a>, at <a href="https://www.utexas.edu/"
            target="_blank">The
            University of Texas</a>, and a visiting professor in the Electrical engineering Division at the University
        of Texas,
        San Antonio. </li>
</ul>

<br />
<h3>Education</h3>
<ul class="styleul">
    <li>I received my PhD in <a href="https://www.ece.utexas.edu/" target="_blank">Electrical and Computer
            Engineering</a>, from <a href="https://www.utexas.edu/" target="_blank">The University of Texas</a> in May
        1996. My advisor
        was <a href="https://www.ece.utexas.edu/people/faculty/joydeep-ghosh" target="_blank">Joydeep Ghosh</a>.</li>
    <li>I received my MSE in <a href="https://www.ece.utexas.edu/" target="_blank">Electrical and Computer
            Engineering</a>, from <a href="https://www.utexas.edu/" target="_blank">The University of Texas</a> in
        August 1992.</li>
    <li>I received my BS in <a href="https://ece.gmu.edu/" target="_blank">Electrical and Computer Engineering</a>, from
        <a href="https://www.gmu.edu/" target="_blank">George Mason University</a> in May 1989.
    </li>
</ul>

<br />
<h3>Misc</h3>
<ul class="styleul">
    <li>I am a Senior member of <a href="https://www.ieee.org/" target="_blank">IEEE</a>,
        and a lifetime member of <a href="http://www.aaai.org/" target="_blank">AAAI</a>.</li>
    <li>I hold one patent: Spectroscopic detection of cervical pre-cancer using radial basis function
        networks. US patent no. 6,135,965 (Oct. 2000). Inventors: K. Tumer, N. Ramanujam, R. Richards-Kortum
        and J. Ghosh. </li>
</ul>


<br />
<h3>Science Fiction</h3>
<ul class="styleul">
    <li>I am also a science fiction author. If you'd like to read about that <a href="http://kagantumer.com/" target="_blank">Kagan Tumer</a>, please click <a href="http://kagantumer.com/" target="_blank">here</a>.</li>
    <li>You can also find me on <a href="https://twitter.com/kagan_tumer/" target="_blank">twitter</a> and <a href="https://www.goodreads.com/kagan_tumer/" target="_blank">goodreads</a>.</li>
</ul>


{% include widgets/divider.html %}

<p>Here are some activities that I don't get to do nearly as often as I'd like: </p>

<ul class="styleul">
    <li>Aikido: I hold the rank of "third kyu" from Suginami Aikikai, San Francisco.</li><p></p>
    <li>Sailing: I sail on San Francisco Bay, one of the most challenging and fun places to sail. I am also exploring the Pacific northwest sailing grounds such as the San Juan Islands, Puget Sound and Portland. For warm water sailing, it's hard to beat the Caribbean. Two recent places I sailed are the BVI and St. Maarten.</li><p></p>
    <li>Soccer: I play and watch soccer, mostly the English Premier League, The UEFA champions league, and of course the World Cup and European Championships every four years. Here is a slightly more soccer-centric view of my bio:
        <ul class="styleul" style="font-size: small;">
            <li>The graduate robotics program at OSU was approved the year Germany won its fourth world cup.</li>
            <li>I became a full Professor the year Spain won its first world cup.</li>
            <li>I arrived at Oregon State University a few months after Italy won its fourth world cup.</li>
            <li>I started working at NASA the year before France won its first world cup, and while I was there, Brasil won its fifth and Italy its fourth.</li>
            <li>I received my PhD from the Electrical and Computer Engineering Department at the University of Texas the year Germany won its third European Championship in the only major international final decided by a golden goal.</li>
        </ul>
    </li>
</ul>