---
layout: base
---
<br />

<ul class="styleul">
    <li><a href="http://classes.engr.oregonstate.edu/mime/fall2017/rob537/">ROB 537: Learning Based Control </a></li>
    <p>Fall 2019, Fall 2017, Fall 2015, Fall 2013, Fall 2010, 2008</p>

    <li><a href="http://classes.engr.oregonstate.edu/mime/fall2016/rob538/">ROB 538: Multiagent Systems </a></li>
    <p>Fall 2018, Fall 2016, Fall 2014, Fall 2012, Fall 2009, Fall 2007</p>

    <li><a href="http://classes.engr.oregonstate.edu/mime/fall2014/me456/">ROB 456: Intelligent Robotics </a></li>
    <p>Fall 2014, Fall 2013</p>

    <li>MIME 101: Introduction to MIME: Robotics</li>
    <p>Fall 2013</p>

    <li><a href="http://classes.engr.oregonstate.edu/mime/fall2011/me430/">ME 430/ECE 451: Systems Dynamics and Control </a></li>
    <p>Fall 2011, Fall 2010, Fall 2009, Fall 2008, Winter 2008, Fall 2007</p>

    <li><a href="http://classes.engr.oregonstate.edu/mime/spring2007/me534/">534: Nonlinear Multivariable Control Systems </a></li>
    <p>Spring 2007</p>
</ul>

{% include widgets/divider.html %}

<p>In a previous life (academic year 1996-1997) I taught in the Electrical Engineering Department at The University of Texas, San Antonio: </p>

<ul class="styleul">
    <li> Network Theory (Sophomore requirement) </li>
    <li> Signals and Systems (Junior requirement)  </li>
    <li> Information theory (Senior elective) </li>
    <li> Neural Networks (Graduate elective) </li>
</ul>














